<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script>
        $(function () {
            $("#btnBuy").click(function () {
                // $("#imp_uid").val("imp_uid");
                // $("#pay_method").val("pay_method");
                // $("#merchant_uid").val("merchant_uid");
                // $("#storeId").val("storeId");
                // $("#apply_num").val("apply_num");
                // $("#purchaseForm").submit();
                var productName = $("#productName").val();
                var productPrice = $("#productPrice").html();

                IMP.init("imp36411042");
                IMP.request_pay(
                    {
                        pg: "kcp",
                        pay_method: "card",
                        merchant_uid: `payment-${crypto.randomUUID()}`, // 주문 고유 번호
                        name: productName,
                        amount: productPrice,
                        buyer_email: "gildong@gmail.com",
                        buyer_name: "홍길동",
                        buyer_tel: "010-4242-4242",
                        buyer_addr: "서울특별시 강남구 신사동",
                        buyer_postcode: "01181",
                    },
                    function (response) {
                        $("#imp_uid").val(response.imp_uid);
                        $("#pay_method").val(response.pay_method);
                        $("#merchant_uid").val(response.merchant_uid);
                        $("#storeId").val(response.storeId);
                        $("#apply_num").val(response.apply_num);
                        $("#purchaseForm").submit();
                    },
                );
            })
        })

    </script>
</head>
<body>
<!--<th:block th:include="header :: header"></th:block>-->
<h2>Product Detail</h2>
<p>Name: <span th:text="${product.name}" th:value="${product.name}" id="productName"></span></p>
<p>Price: <span th:text="${product.price}" th:value="${product.price}" id="productPrice"></span></p>
<!--<p>ID: <span th:text="${product.no}"></span></p>-->
<span th:if="${#authorization.expression('hasRole(''admin'')')}">
    <button><a th:href="@{/admin/update/{no}(no=${product.no})}">update</a></button>
    <button><a th:href="@{/admin/delete/{no}(no=${product.no})}">delete</a></button>
</span>
<span th:if="${#authorization.expression('hasRole(''user'')')}">
    <button id="btnBuy">BUY</button>
</span>

<form action="/purchase" method="post" id="purchaseForm">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"><br>
    <input type="hidden" id="imp_uid" name="imp_uid">
    <input type="hidden" id="pay_method" name="pay_method">
    <input type="hidden" id="merchant_uid" name="merchant_uid">
    <input type="hidden" id="goodsName" th:value="${product.name}" name="goodsName">
    <input type="hidden" id="storeId" name="storeId">
    <input type="hidden" id="apply_num" name="apply_num">
</form>
</body>
</html>