
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>	
	<h2>게시물 목록</h2>
	<hr>
	<a href="/board/insert">등록</a>
	<table border="1" width="80%">
		<tr>
			<th>글번호</th>
			<th>글제목</th>
			<th>작성자</th>
			<th>등록일</th>
		</tr>	
		<tr th:each="b:${list}">
			<td th:text="${b.no}"></td>			
			<td>
				<span th:if="${b.b_level>0}">
					<span th:each="i:${#numbers.sequence(1,b.b_level)}">
						&nbsp;&nbsp;
					</span>
					-->
				</span>
				<a th:href="@{'/board/detail/'+${b.no}}"><span th:text="${b.title}"></span></a>				
			</td>			
			<td th:text="${b.writer}"></td>			
			<td th:text="${b.regdate}"></td>			
		</tr>	
	</table>
</body>
</html>































