<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header>
    <nav>
        <!-- 로그인 상태에 따라 표시할 내용 -->
        <div th:if="${#authentication.principal != null}" style="background-color: darkseagreen">
            <span>Welcome, <span th:text="${#authentication.principal.username}"></span></span>
            <a href="/logout" th:href="@{/logout}">Logout</a>
        </div>
        <div th:if="${#authentication.principal == null}" style="background-color: darkseagreen">
            <a href="/login" th:href="@{/login}">Login</a>
        </div>
    </nav>
</header>
</body>
</html>