<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<h2>It's My Board Page!!</h2>
<hr>
<table class="table table-hover">
    <tr>
        <th>NO</th>
        <th>WRITER</th>
        <th>TITLE</th>
        <th>HIT</th>
    </tr>
    <tr th:each="board:${boards}">
        <td th:text="${board.no}"></td>
        <td th:text="${board.writer}"></td>
        <td>

            <span th:each="i:${#numbers.sequence(1,board.b_level)}">&nbsp;&nbsp;</span>
            →
            <a th:text="${board.title}"></a>
        </td>
        <td th:text="${board.hit}"></td>
    </tr>
</table>
</body>
</html>